.bg-tentang{
    padding-top: 40px;
    text-align: center;
    margin-top: 10px;
}

.text-tentang{
    text-align: center;
    padding-right: 250px;
    padding-left: 250px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
}
